# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user

# RStudio proyect
# *.Rproj

# Ignore the R Markdown (.Rmd) file in the report_sources/ directory
report_sources/*.Rmd

# Ignore all Excel files
*.xlsx

# Ignorar todos los .do del proyecto
*.do

# Ignorar todos los .pdf del proyecto
*.pdf

# Ignorar .docx en la raíz
/*.docx

# Ignorar .rar en la raíz
/*.rar

# Ignorar .R específicos en scripts
/scripts/Codigo_Figuras_Claudio Intimayta.R
/scripts/laboratorio_u2_acp_indices_REV1.R
/scripts/Prueba_Percy Soto.R

# Ignorar .dta específicos en data
/data/basepriv_jp.dta
/data/bd_hogares_for_wealth.dta
